// Global styling for this template
@font-face {
  font-family: "MuseoSansLight";
  src: url("../fonts/MuseoSansLight.eot");
  src: url("../fonts/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MuseoSansLight.woff") format("woff"),
  url("../fonts/MuseoSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSansRegular";
  src: url("../fonts/MuseoSansRegular.eot");
  src: url("../fonts/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MuseoSansRegular.woff") format("woff"),
  url("../fonts/MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansBold";
  src: url("../fonts/MuseoSansBold.eot");
  src: url("../fonts/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MuseoSansBold.woff") format("woff"),
  url("../fonts/MuseoSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
body {
  overflow-x: hidden;
  color: $blue;
}
body.js-no-scroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

p {
  line-height: 1.75;
}

a {
  color: $blue;
  &:hover {
    color: lighten($blue, 10%);
  }
}
._preloader {
  display: none;
  padding-right: 5px;
}

.wt-text-white {
  color: $white !important;
}
.wt-text-blue {
  color: $blue !important;
}
.wt-text-orange {
  color: $orange !important;
}
.wt-block-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
  border-radius: inherit;
  .wt-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

section {
  padding: 55px 0;
  h1.wt-section-heroTitle {
    font-size: 70px;
    line-height: 1;
    font-weight: 400;
    width: 100%;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: -.021em;
  }
  h2.wt-section-title {
    font-size: 34px;
    line-height: 1.18;
    font-weight: 700;
    width: 100%;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: -.021em;
  }
  p.wt-section-subtitle {
    font-size: 26px;
    line-height: 1.5;
    font-weight: 400;
    width: 100%;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
  }
  p.wt-section-text {
    font-size: 16px;
    line-height: 1.56;
    width: 100%;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
  }
  p.wt-section-small-text {
    font-size: 12px;
    line-height: 1.67;
    width: 100%;
  }
}

// Form Styles
form.wt-form-rounded {
  .form-group {
    color: $primary-200;
    .form-control {
      border-radius: 25px;
    }
  }
  .btn {
    margin-top: 10px;
  }
}

// Button Styles
.btn {
  font-size: 14px;
  line-height: 1.2;
}
.wt-btn-size-sm {
  font-size: 12px;
  padding: 10px 16px;
}
.wt-btn-size-md {
  padding: 12px 24px;
}
.wt-btn-size-xl {
  font-size: 15px;
  padding: 15px 30px;
}

.wt-btn-primary {
  background: linear-gradient(45deg, #df7165 33%, #f9e377 66%, $orange);
  border-color: $orange;
  color: $blue !important;
  font-weight: 500;
  transition: background-color 1s ease-in-out;
  &:active,
  &:focus,
  &:hover {
    background: linear-gradient(45deg, #f9e377 33%, #df7165 66%);
    border-color: $orange;
    color: $blue !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }
}
.wt-btn-white {
  background-color: white;
  border-color: white;
  color: $primary-200 !important;
  &:active,
  &:focus,
  &:hover {
    background-color: darken(white, 7.5%) !important;
    border-color: darken(white, 7.5%) !important;
    color: $primary-200 !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }
}
.wt-btn-rounded {
  border-radius: 25px;
}
.wt-btn-transparent {
  background-color: transparent;
  border-color: $primary-200;
  color: $primary-200 !important;
  border-width: 1px;
  &:active,
  &:focus,
  &:hover {
    background-color: transparent !important;
    border-color: $primary-200 !important;
    color: $primary-200 !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary-200;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

// Media queries
@media (max-width: 767px) {
  section {
    padding: 40px 0;
  }
  section h1.wt-section-heroTitle {
    font-size: 40px;
  }
  section h2.wt-section-title {
    font-size: 26px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 740px;
  }
}